.loginButtons button {
    border: none;
    background: none;
    font-size: 16px;
    padding-left: 0px;
}

.loginButtons button:hover {
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    cursor: pointer;
}
